.item-cap
{
    bottom: 10%;
    left : 10%;
    width: 75%;
}
img
{
    cursor: pointer;
}

.parentlayer
{
    background-color:rgba(0,0,0,.5) ;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* background-color: aquamarine; */

}
.childLayer
{
  
    background-image: url(../Images/portfolio-1.jpg);
    background-size: 100% 100%;
    position: relative;
    padding: 5px;
}
.childLayer .special 
{
    position: absolute;
    top: 10px;
    right: 10px;
}
